@use '../../assets//sass//global.scss' as *;
@use '../../assets//sass/theme.scss' as *;

  .imagemInput {
        width: 20%;
    }

.defaultInput {
    margin-left: auto;
    background-color: #79a2ff;
    width: 50%;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    margin-right: 10rem;

    label {
        color: #fff;
        letter-spacing: 1px;
        font-family: var(--font-montserrat);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: .2rem;
    }

    input {
        letter-spacing: 2px;
        color: #fff;
        background-color: #79a2ff;
        border: transparent;
        border-bottom: 1px solid #fff;
        outline: none;
        font-family: var(--font-montserrat);
        font-weight: 900;
        transition: .3s ease-in-out;
        border-radius: .3rem;

        &:hover {
            border: 1px solid #fff;
        }

        &::placeholder {
            color: #fff;
            font-weight: 900;
        }
    }
}