.container {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100vw;

    .container1 {
        width: 50%;
    }

    .container2 {
        width: 50%;
    }
}